/* * {
 
margin: 0;
}
.questionnaire {
  margin: 0;
  align-content: center;

}

#question {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

button {
  border-radius: 15px;
  margin-left: 150px;
  margin-bottom: 20px;
  background-color: white;
  border-color: lightgray;
  padding: 20px 80px 
} */
