body {
  margin: 0;
  padding: 0;
}



.carousel{
  height: 100%;
  width: 1120px;
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  align-content: center;
  
}

.info{
  float: top;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button{
  float: top;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.img{
  border: 1px solid salmon;
}

.classification{
  color: lightgray;
  
}
