/* * {
  outline: 1px dotted black;
} */
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.homePage {
  margin: 0 auto;
  width: 100vw;
  max-width: 1000px;
  min-height: 100vh;
  background-color: white;
}

.homeNav {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav > * {
  margin: 20px;
}

nav a {
}
.arNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ARLOGO {
  height: 50px;
  width: 50px;
  background-image: url(/images/LOGO.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: auto;
}

.arSearch {
}

.hero {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(/images/Harvard-Art-11553910.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}
*/ #Rectangle_3 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 25px;
  background-color: rgb(83, 95, 99);
}
.section2 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.galleryItem {
  height: 200px;
  width: 200px;
  margin: 20px;
  background-image: url(/images/Harvard-Art-20404494.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.carousel {
  height: 200%;
  display: flexbox;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  align-content: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.theButton {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 398px;
  height: 99px;
  background-image: url(/images/Button.svg);
  background-color: transparent;
  border-width: 0px;
  outline-width: 0px;
  outline-color: transparent;
}

.img {
  border: 1px solid salmon;
}

.classification {
  color: lightgray;
}
