/* * {
  outline: 1px dotted black;
} */
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.homePage {
  margin: 0 auto;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  background-color: white;
}

.homeNav {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#question {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px #272727;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* .gB {

} */

nav > * {
  margin: 20px;
}

nav a {
}
.arNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ARLOGO {
  height: 86px;
  width: 84px;
  background-image: url(/images/LOGO.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: auto;
}

.hero {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url(/images/Harvard-Art-20419854.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
}
*/ #Rectangle_3 {
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 25px;
  background-color: rgb(83, 95, 99);
}
.section2 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(214, 214, 214);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.galleryItem {
  height: 200px;
  width: 200px;
  margin: 20px;
  background-image: url(/images/Harvard-Art-11553910.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.galleryItem2 {
  height: 200px;
  width: 200px;
  margin: 20px;
  background-image: url(/images/Harvard-Art-457648678.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.galleryItem3 {
  height: 200px;
  width: 200px;
  margin: 20px;
  background-image: url(/images/Harvard-Art-477339539.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.galleryItem4 {
  height: 200px;
  width: 200px;
  margin: 20px;
  background-image: url(/images/Harvard_Art_18783392.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.caption1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px #272727;
  min-height: 100vh;
  justify-content: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.apTitle {
  position: absolute;
  bottom: 420px;
  left: 80px;
  font-family: 'Pacifico', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 80px;
  color: #272727;
}
.description {
  position: absolute;
  bottom: 260px;
  left: 80px;
  font-size: 40px;
  font-family: Helvetica, Arial, sans-serif;
  color: #383838;
  width: 798px;
}
.theButton {
  position: absolute;
  bottom: 120px;
  left: 80px;
  width: 398px;
  height: 99px;
  background-image: url(/images/Button.svg);
  background-color: transparent;
  border-width: 0px;
  outline-width: 0px;
  outline-color: transparent;
}

.img {
  border: 1px solid salmon;
}

.classification {
  color: lightgray;
}
